body{
	font-family: 'Poppins', serif;
	height:100%; 
	background-color:#fefefe;
}
.container{
	padding-top:100px;
}
.custom {
	background-color:#2e3d50 !important;
	height: 32px;
    width: 100%;
}
.custom-main-nev{
	font-family: 'Poppins', serif;
	width:100%;
	border-bottom:1px solid #80808029;
	padding: 0 10px 0 20px  !important;
}

.custom ul li a{
	color: white !important;
	font-size:15px !important;
}
.custom ul li a:hover{
	color: white !important;
	text-decoration:underline;
}
.fixed-top-2{
	height:50px !important;
	margin-top: 32px;
	background-color:#fefefe !important;
}
.nav-text:hover{
	color:#2199e8 !important;
	text-decoration:none;
}
.nav-text{
	text-transform : uppercase;
	font-weight: 700 !important;
	color:#2f3c4d !important;
	text-decoration:none !important;
}
.navbar-brand{
	height: 36px;
    padding-top: 10px;
    padding-bottom: 46px;
    margin-left: -8px;
}
.nav-link:hover{
	text-decoration:underline;
}
.navbar-toggler-icon{
	height:30px !important;
}
.menu ul li a{
	display: block;
    padding: .7rem 1rem;
    line-height: 1;
}
.nav-item{
	padding-right:15px !important;
	padding-left:6px !important;
}
h3{
	text-align:center;
	background-color:#f7f7f7 !important;
	color:#000 !important;
	padding-top:15px;
	padding-bottom:10px;
	
}

.card-header {
	font-family: 'Poppins', serif;
	font-size:14px;
	font-weight:bolder;
	text-align:center;
	background-color:#06508e !important;
	color:#ffffff !important;
}
.card{
	height:100%;
	padding-bottom: 20px;
	
}
.col-md-4, .col-sm-6{
	margin-top:10px;
	margin-bottom:18px !important;
}
.card .btn{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom:5px;
	margin-left:20%;
	margin-right:20%;
}
.btn-danger {
    color: #fff;
    background-color: #f04a51;
    border-color: #f04a51;
}
.email{
	color:#000 !important;
}
.email:hover{
	text-decoration:none;
}
.telephone{
	color:#000 !important;
}
.telephone:hover{
	text-decoration:none;
}

@media only screen and (max-width: 768px ){
		.hide-on-small{
			display : none !important;
		}
		.fixed-top-2{
			margin-top: 0 !important;
		}
		h3{
			margin-top: -32px !important;
	}
}

@media only screen and (max-width: 768px ){
	.phone-menu{
		background-color:#333;
		margin-left: -20px !important;
		padding-left:20px !important;
	}
	.phone-menu li a{
		color: #9d9d9d !important;
		font-size:15px !important;
	}
	.phone-menu li a:hover{
		color: white !important;
		font-size:15px !important;
	}
}
@media screen and (max-width: 1000px) and (min-width: 600px){
  .card-header {
	font-family: 'Poppins', serif;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    background-color: #06508e !important;
    color: #ffffff !important;
  }
  .card-body{
	  font-family: 'Poppins', serif;
	  font-size:13px !important;
  }
  .card .btn {
	  font-size:13px !important;
  }
}
.navbar-toggler{
	float:right !important;
	margin-top:5px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}